:root {
    --darkblue: #115492;
    --midblue: #2d6ba6;
    --greyblue: #5d84a9;
    --lightblue: #cce0ff;
    --ltgrey: #e5e6e2;
    --offwhite: #f5f5f4;
    
}
* {
    font-family: 'Raleway', sans-serif;
}

.weatherInfo {
    list-style: none;
}

.pastBtn {
    margin: 2px;
}

#searchResults {
    padding:0px 15px;
}



#header {
    padding-top: 8px;
    min-height: 80px;
    background-color: var(--darkblue);
    color: var(--offwhite);
    margin-bottom: 0px;
}

.btn {
    background-color: var(--darkblue);
    
}

.btn:hover {
    background-color: var(--midblue);
}

#main {
    background-color: var(--ltgrey);
}

#fiveDay h6 {
    margin-bottom: 0px;
}

#CityDate img {
    max-width: 50px;
}

#weatherTable th {
    border-radius: 8px 8px 0 0;
}

#weatherTable  thead{
    background-color: var(--greyblue) !important;
    color: white;
}